body {
  max-width: 600px;
  margin: 0 auto;
}

.one {
  background: pink;
  border: 3px solid blue;
  /* CHANGE ME */
  padding: 32px;
  margin: 12px;
}

.two {
  background: lightblue;
  border: 3px solid purple;
  /* CHANGE ME */
  margin-bottom: 48px;
}

.three {
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;
  /* CHANGE ME */
  padding: 32px;
  /* This is functional, but doesn't match the solution. */
  margin-left: 330px;
  /* The solution uses auto only on the left to right justify. */
  /* margin-left: auto; */
  /* Note that both left and right auto will center. */
  /* margin-right: auto; */
}
